@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding: 0px;

}

.main{
    background-image: url(bg.png.webp);
    height:100vh;
}
nav{
    background-color: black;
    color: rgb(182, 157, 109);
    height:30px ;
    font-size: 25px;
    display: flex;
    align-items:center ;
    padding: 0px 14px;
     font-family: "Roboto", sans-serif;
}

nav ul{
    list-style-type: none;
}
.bgimage{
    height:100%;
    position: relative;

}
.gamecontainer{

display: flex;
justify-content: center;
margin-top: 30px;
}
.line{
    background-color: rgb(80, 75, 219);
    width:0vw;
    height:3px;
    position: absolute;
    left: 0;
    transition: width 1s ease-in-out;
    border-radius: 8px;
}
.container{
display: grid;
grid-template-columns: repeat(3,10vw);
grid-template-rows: repeat(3,10vw);
border: none;
font-family: "Roboto", sans-serif;
position: relative;

}
.box{
    border: 2px solid rgb(33, 8, 226);
    font-size:6vw ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box:hover{
   background-color: rgb(33, 33, 92);
    
    font-size:6vw ;
    
}
.boxtext{
    color: rgb(212, 162, 88);
}
.info{
    font-size: 25px;
}
.gameinfo{
   color: rgb(7, 7, 138);
    padding: 0px 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.imgbox img{
   width: 0px;
   transition:width 1s ease-in-out ;
}
.br-0{
    border-right: 0px;
}
.bl-0{
    border-left: 0px;
}
.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom:0px ;
}
#reset{
  margin: 20px 20px;
  padding: 10px 20px;
  background-color:rgb(115, 115, 213) ;
  border-radius: 5px;
  cursor: pointer; 
}
@media screen and (max-width:900px){
 .gamecontainer{
    flex-wrap: wrap;
 }
 .gameinfo{
    margin-top: 60px;
 }
.gameinfo h1{
font-size: 1.5rem;
 }
 .container{
    display: grid;
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(3,20vw);
 }
}